[Desktop Entry]
Type=Application
Name=Trites
Exec=sailfish-qml harbour-trites
Icon=harbour-trites
X-Nemo-Application-Type=silica-qt5

X-Desktop-File-Install-Version=0.26

[X-Sailjail]
OrganizationName=site.tomin.apps
ApplicationName=Trites
Permissions=
